@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  color: #222329;
}
p {
  color: #5d545b;
}
svg,
a {
  transition: all 500ms linear;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: #222329;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(#5d545b,#222329);
}